DATABASE_URL="postgresql://localhost:Password@localhost:5432/schema?schema=nameSchema"
ACCESS_TOKEN_SECRET='YOUR_ACCESS_TOKEN_SECRET'
REFRESH_TOKEN_SECRET='YOUR_REFRESH_TOKEN_SECRET'

LICENSE_SECRET_KEY = 'YOUR_LICENSES_TOKEN_SECRET'